body {
    background-color: paleturquoise
} 
h1 {
    font-size: 50px;
} 
h2 {
    font-size: 40px;
} 
header {
    font-size: 20px;
} 
.Historiafallout4 {
    font-size: 20px;
} 
.minutmen {
    font-size: 20px;
} 
.Cronologiaminutmen {
    font-size: 20px;
}