body {
    background-color: paleturquoise
} 
h1 {
    font-size: 50px; 
    margin: 70px;
} 
h2 {
    font-size: 40px; 
    margin: 70px;
} 
header {
    font-size: 20px; 
    width: 1100px; 
    height: 200px; 
    margin: 70px;
} 
.Historiafallout4 {
    font-size: 20px; 
    width: 1100px; 
    height: 300px; 
    margin: 70px; 
} 
.minutmen {
    font-size: 20px;
    width: 1100px;
    height: 460px; 
    margin: 70px;  
} 

.Cronologiaminutmen {
    font-size: 20px;
    width: 1100px; 
    height: 360px; 
    margin: 70px;

} 
.Fotominutmen { 
    position: relative;
    left: 250px; 
    bottom: 00px; 
    top: 00px; 
    right: 00px;
} 
.Hermandaddelacerofallout4 {
    font-size: 20px; 
    width: 1100px; 
    height: 1200px; 
    margin: 70px;
} 
.Ferrocarril {
    font-size: 20px; 
    width: 1100px; 
    height: 700px; 
    margin: 70px;
} 
.Elinstituto {
    font-size: 20px; 
    width: 1100px; 
    height: 1000px;  
    margin: 70px;
} 
.fallout76 {
    font-size: 20px;  
    width: 1100px; 
    height: 200px; 
    margin: 70px;
} 
.protectores {
    font-size: 20px; 
    width: 1100px; 
    height: 800px; 
    margin: 70px;
} 
.Saqueadores { 
    font-size: 20px; 
    width: 1100px; 
    height: 400px;  
    margin: 70px;
} 
.Estadoslibres {
    font-size: 20px; 
    width: 1100px; 
    height: 400px; 
    margin: 70px;
} 
.Hermandadelacerofallout76 {
    font-size: 20px; 
    width: 1100px; 
    height: 500px; 
    margin: 70px ;
} 
.Enclave {
    font-size: 20px; 
    width: 1100px; 
    height: 500px; 
    margin: 70px;
} 
.Hermandad {
    left: 400px; 
    position: relative;
} 
.logoferrocarril { 
 left: 400px; 
 position: relative;
} 
.Fotoenclave {
    position: relative; 
    left: 400px;
} 

.RNC {
    font-size: 20px; 
    width: 1100px; 
    height: 2000px; 
    margin: 70px;
} 
h3 {
    margin: 70px; 
    font-size: 30px;
} 

.Newvegas {
    font-size: 20px; 
    margin: 70px; 
    width: 1100px; 
    height: 100px;
} 

.Fotornc {
    position: relative; 
    left: 70px;
}