body {
    background-color: paleturquoise
} 
h1 {
    font-size: 50px;
} 
h2 {
    font-size: 40px;
} 
header {
    font-size: 20px;
} 
.Historiafallout4 {
    font-size: 20px;
} 
.minutmen {
    font-size: 20px;
} 
.Cronologiaminutmen {
    font-size: 20px;
} 
.Fotominutmen { 
    position: relative;
    left: 500px; 
    bottom: 00px; 
    top: 00px; 
    right: 00px;
} 
.Hermandaddelacerofallout4 {
    font-size: 20px; 
} 
.Ferrocarril {
    font-size: 20px;
} 
.Elinstituto {
    font-size: 20px;
} 
.fallout76 {
    font-size: 20px;
} 
.protectores {
    font-size: 20px;
} 
.Saqueadores {
    font-size: 20px;
} 
